// Cores
$light-blue: #DFF6F8;
$background-blue: #E5F8F9;
$dark-blue: #001E26;
$accent-blue: #00ACC1;
$text-gray: #666666;
$white: #FFFFFF;

// Fontes
$font-primary: 'Roboto', sans-serif;

// Espaçamentos
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 24px;

// Border Radius
$border-radius: 4px;
